@model Teamwork.Models.Task

@{
     Layout = "_Layout";
    ViewData["Title"] = "Task Details Page ~ Layout";
}

<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskCreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskCreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupNoNavigation.GroupNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNoNavigation.StatusNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTypeNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskTypeNoNavigation.TaskTypeNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaskID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
