@model Teamwork.Models.Group

@{
    Layout = "_Layout";
    ViewData["Title"] = "Group Details Page ~ Layout";
}


<h1 class="text-center text-dark">小組內容<i class="bi bi-card-text"></i></h1>

<hr />

<div class="d-flex justify-content-center align-items-center flex-column">

    <dl class="row w-50">
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class = "col-sm-8 text-start">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class="col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-8 text-start">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-8 text-start">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-4 text-end">
            任務名稱
        </dt>
        <dd class="col-sm-8 text-start">
            @if (Model.Task != null && Model.Task.Any())
            {
                <ul>
                    @{
                        int i = 1;
                    }
                    @foreach (var task in Model.Task)
                    {
                        <li >@i. @task.TaskName</li>
                        i++;
                    }
                </ul>
            }
            else
            {
                <span>無任務</span>
            }
        </dd>
    </dl>

    <div class="text-end">
        @* < a asp-action="Edit" asp-route-id="@Model?.GroupNo">Edit</a> |
        <a asp-action="Index">Back to List</a> *@

        <a asp-action="Create" asp-controller="Tasks" asp-route-groupNo="@Model?.GroupNo" asp-route-returnUrl="@Url.Action("Details", "Groups", new { employeeId = ViewContext.HttpContext.Session.GetString("NEmployee") })" class="btn btn-success">增加新任務</a>
        <a asp-action="Index" class="btn btn-dark ms-2">回上頁</a>

    </div>

</div>


